
.blog-header {
    background-color: 	#7FFFD4; 
    color: #fff;
  }
  
  .blog-body {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
  
  .blog-content {
    padding: 20px;
  }
  
  .blog-content h3 {
    color: 	#7FFFD4;
    margin-bottom: 15px;
  }
  
  .blog-content p {
    color: #333;
    line-height: 1.6;
  }
  